//park style sheets 
*{
    box-sizing: border-box;
    margin: 0;
}

body,html {
    margin: 0;
    padding: 0;
}

//global conf
@global-space-both:6px;
@global-space-bed:14px;

@global-fontSize-min:12px;
@global-lineHeight-min:16px;
@global-fontSize-default:15px;
@global-lineHeight-default:20px;
@global-fontSize-big:19px;
@global-lineHeight-big:24px;

//###View
//dapth
.pk-depth-1 {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.pk-depth-2 {
    box-shadow: 0 1px 9px rgba(0,0,0,0.2);
}

.pk-depth-3 {
    box-shadow: 0 1px 13px rgba(0,0,0,0.6);
}

.pk-depth-4 {
    box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}


//###Layout
.has-clear {
    &:before{
        content: "";
        display: table;
        clear: both;
    }

    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.pk-bash-top {
    margin-top: @global-space-bed;
}

.pk-bash-bottom {
    margin-bottom: @global-space-bed;
}

.pk-bash-left {
    margin-left: @global-space-bed;
}

.pk-bash-right {
    margin-right: @global-space-bed;
}

.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.nobody {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.one-line {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pk-container {
    .has-clear();
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding-left:@global-space-both;
    padding-right: @global-space-both;
}

//nav bar
@nav-height:50px;
.pk-nav-top {
    width: 100%;
    height: @nav-height;
    .unit-frame {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
    }

    .nav-logo {
        position: absolute;
        left: @global-space-both;
        top: 50%;
        transform: translate(0,-50%);
        width: auto;
        height: @nav-height;
        z-index: 9;
    }
    
    .title {
        font-size: @global-fontSize-big;
        line-height: @nav-height;
        width: 80%;
        height: @nav-height;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .nav-btn {
        width: @nav-height;
        height: @nav-height;
        position: absolute;
        top: 0;
        bottom:0;
        z-index: 2;
        &.nav-btn-left {
            left: @global-space-both;
        }
        &.nav-btn-right {
            right: @global-space-both;
        }

        &>a {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
        }

    }
}

.pk-nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: @nav-height;
    z-index: 999999;
    
    .unit-frame {
        .pk-depth-3();
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: table;
        table-layout: fixed;
        overflow: hidden;
    }

    .unit-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        position: relative;
        &:nth-child(n+2)::before{
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #cccccc;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #333;
            font-size: @global-fontSize-default;
            line-height: 30px;
            padding-left:15px;
            padding-right: 15px;
            background-color: #d1d1d1;
            border-radius: 15px;
        }
    }
}


//div grid Column
@column-gutter-width:@global-space-both/2;
.pk-columns {
    margin-left:-@column-gutter-width;
    margin-right: -@column-gutter-width;
    .has-clear();

    .pk-col-1 {
        width: 8.333332%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-2 {
        width: 16.666664%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-3 {
        width: 25%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-4 {
        width: 33.333333%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-5 {
        width: 41.666667%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-6 {
        width: 50%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-7 {
        width: 58.333333%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-8 {
        width: 66.666667%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-9 {
        width: 75%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-10 {
        width: 83.333333%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-11 {
        width: 91.6666667%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
    
    .pk-col-12 {
        width: 100%;
        float:left;
        min-height: 1px;
        padding-left: @column-gutter-width;
        padding-right: @column-gutter-width;
    }
}

//### table
.pk-table {
    border-collapse: collapse;
}

//###form
@pk-fmBorderColor:#ccc;
@pk-fmRectBg:#f2f2f2;
@pk-fmBtnColor:#0066CC;
@pk-fmLineH:34px;
@pk-fmH:34px;

@pk-fmSpace:12px;

@pk-fmCheckboxBtnW:20px;
@pk-fmCheckboxBtnH:20px;
@pk-fmCheckboxBtnBeadW:14px;
@pk-fmCheckboxBtnBeadH:14px;
@pk-fmCheckboxBtnSpace:24px;
@pk-fmCheckboxGutter:12px;


@pk-fmRadioBtnW:20px;
@pk-fmRadioBtnH:20px;
@pk-fmRadioBtnBeadW:14px;
@pk-fmRadioBtnBeadH:14px;
@pk-fmRadioBtnSpace:24px;
@pk-fmRadioGutter:24px;

.pk-fm-block {

    &.al-c {
        text-align: center;
    }
    margin: 0 auto @pk-fmSpace;
    .has-clear();
    .block-left {
        float: left;
        width: 30%;
        text-align: left;
        .fm-name {
            line-height: @pk-fmLineH;
            width: 100%;
            .one-line();
        }
    }
    .block-right {
        float: left;
        width: 70%;
        text-align: left;
    }
    
    .fm-name {
        display: block;
        clear: both;
        line-height: @pk-fmLineH;
    }

    .fm-text {
        margin: 0;
        border: 1px solid @pk-fmBorderColor;
        background-color: @pk-fmRectBg;
        width: 100%;
        border-radius: 0;
        line-height: @pk-fmLineH;
        height: @pk-fmH;
        box-shadow: none;
        display: block;
        padding: @pk-fmSpace;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }

    .fm-selector {
        position: relative;
        height: @pk-fmH;
        line-height: @pk-fmLineH;

        &>select {
            background-color: @pk-fmRectBg;
            border: 1px solid @pk-fmBorderColor;
            padding-left: @pk-fmSpace;
            padding-bottom: 0;
            padding-top: 0;
            padding-right: @pk-fmH;
            border-radius: 0;
            width: 100%;
            height:@pk-fmH;
            line-height: @pk-fmLineH;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            position: relative;
            z-index: 1;
        }

        &:after{
            position: absolute;
            top: 50%;
            right: @pk-fmH/2;
            width: 0;
            height: 0;
            border-top: 6px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            color:@pk-fmBorderColor;
            content: "";
            z-index: 2;
            transform: translate(50%,-50%);
        }
    }


    .fm-radio {
        display: inline-block;
        position: relative;
        line-height: @pk-fmH;
        padding: @pk-fmSpace/2;
        margin-bottom: @pk-fmRadioGutter/2;
        margin-right: @pk-fmRadioGutter/2;
        background-color: #f2f2f2;
        border-radius: 6px;
        &>input[type="radio"] {
            .nobody();

            &:checked::before {
                content: "";
                z-index: 1;
                border: 2px solid #f00;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                position: absolute;
            }

            // &:after {
            //     width: @pk-fmRadioBtnW;
            //     height: @pk-fmRadioBtnH;
            //     background-color:@pk-fmRectBg;
            //     content: "";
            //     z-index: 1;
            //     position: absolute;
            //     top: 50%;
            //     left: 0;
            //     transform: translateY(-50%);
            //     border-radius: 50%;
            //     box-shadow:0 0 2px #666666;
            // }

            // &:checked::before {
            //     width: @pk-fmRadioBtnBeadW;
            //     height: @pk-fmRadioBtnBeadH;
            //     background-color:@pk-fmBtnColor;
            //     content: "";
            //     z-index: 2;
            //     position: absolute;
            //     top: 50%;
            //     left: 3px;
            //     transform: translateY(-50%);
            //     border-radius: 50%;
            // }
        }

        .fm-label{
            //padding-left: @pk-fmCheckboxBtnSpace;
            display:inline-block;
            position: relative;
            z-index: 4;
        }
    }


    .fm-checkbox {
        display: inline-block;
        position: relative;
        line-height: @pk-fmH;
        padding-right: @pk-fmCheckboxGutter;
        &>input[type="checkbox"] {
            .nobody();
            display: block;
            &:after{
                width: @pk-fmCheckboxBtnW;
                height: @pk-fmCheckboxBtnH;
                background-color: @pk-fmRectBg;
                content: "";
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                //transform: translateY(-50%);
                box-shadow:0 0 2px #666666;
            }
            &:checked::before {
                width: @pk-fmCheckboxBtnBeadH;
                height: @pk-fmCheckboxBtnBeadH;
                background-color: @pk-fmBtnColor;
                content: "";
                z-index: 2;
                position: absolute;
                top: 3px;
                left: 3px;
                //transform: translateY(-50%);
            }
        }

        .fm-label{
            padding-left: @pk-fmCheckboxBtnSpace;
            display:inline-block;
        }
    }
}

//#View controller
//##btn
@btn-default-lineHeight:44px;
@btn-default-space-both:10px;
@btn-default-color-bg:#0066CC;
@btn-default-color-text:#fff;
@btn-default-width:120px;

.pk-btn-default {
    display: inline-block;
    text-decoration: none;
    height: @btn-default-lineHeight;
    line-height: @btn-default-lineHeight;
    padding-left: @btn-default-space-both;
    padding-right: @btn-default-space-both;
    background-color: @btn-default-color-bg;
    color: @btn-default-color-text;
    min-width: @btn-default-width;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.pk-btn {
    .pk-btn-default();
}

.pk-btn-xxx {
    .pk-btn-default();
    .pk-soft();
    
    &::before {
        .pk-soft();

        content: "";
        position: absolute;
        z-index: 1;
        background-color: @btn-default-color-bg;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 6px;
        
    }

    &::after {
        .pk-soft();

        content: "";
        position: absolute;
        z-index: 1;
        background-color:@btn-default-color-bg;
        right: 0;
        top: 0;
        width: 1px;
        height: 6px;
    }

}

.pk-btn-xxx:hover {

    &::before {
        background-color: #004A95;
        width: 100%
    }

    &::after {
        background-color: #004A95;
        width: 100%
    }

}

//animation
.pk-soft {
    transition: all 0.3s ease;
}


